%dl.dl-horizontal.well
  - instance.upmin_attributes.each do |attr_name|
    %dt
      = attr_name.to_s.humanize
    %dd
      - data = instance.send(attr_name)
      - if data.is_a?(ActiveRecord::Base)
        = "#{data.class}##{data.id}"
      - else
        = data

