- if editable && f = form_builder
  -# TODO(jon): Find a better place for code like this. Kinda sucks to have it in the view.
  - is_nil = upmin_model.attribute(attr_name).nil? && !upmin_model.instance.new_record?
  .input-group
    = up_attribute(upmin_model.instance, attr_name, locals: { form_builder: form_builder })
    .input-group-addon.nilable-addon
      .form-group
        %label{for: "#{upmin_model.klass.name.underscore}_#{attr_name}_is_nil"}
          Make This Nil
        = check_box(upmin_model.klass.name.underscore, "#{attr_name}_is_nil", class: "boolean", checked: is_nil, value: is_nil)

- else
  %p.well
    = nilable
