.col-sm-6.col-md-4
  .chart-wrapper
    .chart-title
      #{model.humanized_name} created per #{group_by model.model_class}
    .chart-stage
      = column_chart group_by_best_fit(model.model_class)
    .chart-notes
      Number of #{model.model_name.plural} created per #{group_by model.model_class}, for all #{model.model_class.count} records.
