-limit ||= 30
.col-sm-6.col-md-4
  .chart-wrapper
    .chart-title
      #{model.humanized_name} created per #{group_by model.model_class, limit}
    .chart-stage
      = column_chart by_best_fit(model.model_class, limit)
    .chart-notes
      Number of #{model.model_name.plural} created per #{group_by model.model_class, limit}, for all #{model.model_class.count} records.
