%h3
  Search
  = upmin_model.name.pluralize

= form_tag(upmin_search_path(model_name: params[:model_name]), method: :get) do
  - upmin_model.attributes.each do |u_attr, info|

    - if info[:type] == :string
      .form-group
        = label(:q, "#{u_attr}_cont", u_attr.to_s.capitalize.gsub("_", " "))
        = text_field(:q, "#{u_attr}_cont", class: "form-control")

  = submit_tag("Search", class: "btn btn-default btn-block")
