- if node.editable?
  -# First the month picker
  %input.hidden{type: :text, value: datetime, name: node.form_name, id: node.form_id}
  .row
    .col-xs-12.col-md-4
      %input.form-control{type: :text, value: datetime, id: "#{node.form_id}-date"}
    .col-xs-12.col-md-4
      -# %input.form-control{type: :text, value: datetime, id: "#{node.form_id}-time"}\
      .input-group.clockpicker{"data-align" => "top", "data-autoclose" => "true", "data-placement" => "right"}
        %input.form-control{:type => "text", :value => datetime, id: "#{node.form_id}-time"}
          %span.input-group-addon
            %span.glyphicon.glyphicon-time



  - content_for(:javascript) do
    :javascript
      (function() {
        var datePicker,
            date = new Date($('##{node.form_id}').val()),
            hiddenInput = $('##{node.form_id}');

        console.log("Current date is: " + date.toUTCString());

        // Date Specific Code
        var handleDateSelect = function() {
          var pickerDate = datePicker.getDate();
          console.log("Setting the date from " + date + " to " + pickerDate);

          date.setUTCFullYear(pickerDate.getUTCFullYear());
          date.setUTCMonth(pickerDate.getUTCMonth());
          date.setUTCDate(pickerDate.getUTCDate());

          hiddenInput.val(date.toUTCString());
        }

        datePicker = new Pikaday({ field: $('##{node.form_id}-date')[0], onSelect: handleDateSelect });

        // Time Specific Code
        var handleTimeSelect = function() {
          console.log("time selected");
        }
        $('##{node.form_id}-time').clockpicker({
          donetext: "Done",
          twelvehour: true,
          afterDone: handleTimeSelect
        });


      })();


- else
  %p.well
    = datetime



-# Month: http://www.jqueryrain.com/2014/03/smart-forms-jquery-html5-css3/
-# Time: http://www.jqueryrain.com/2014/04/clockpicker-clock-style-timepicker-bootstrap/
