- provide(:subtitle, node.name)

.upmin-model{class: node.color}
  -# Display the model title as "Model # ID"
  %h3
    = node.title
    -# = unknown_model.upmin_name(:singular)
    -# \#
    -# = unknown_model.id

  -# For each model attribute, render the DataNode
  - node.attributes.each do |key, data_node|
    %h5
      = key.to_s.capitalize.gsub("_", " ")

    = upmin_render(data_node, options)

  -# Render each child node
  - node.children.each do |key, node|
    %h5
      = key.to_s.humanize
    - if node.is_a?(Upmin::Graph::CollectionNode)
      = upmin_render(node, options)
    - else
      %p
        = upmin_render(node, options)



  - if node.editable?
    %br
    %button.btn.btn-primary{type: :button}
      Save



