<% if @parent_model || @model %>
  <ol class="breadcrumb">
    <% if @parent_model %>
      <li>
        <a href="<%= model_path(@parent_model) %>">
          <%= plural_model(@parent_model) %>
        </a>
      </li>

      <li>
        <a href="<%= instance_path(@parent_model, @parent_instance.id) %>">
          <%= @parent_instance.id %>
        </a>
      </li>

      <% if @model %>
        <li>
          </li>
          <a href="<%= association_path(@parent_model, @parent_instance.id, @model) %>">
            <%= plural_model(@model) %>
          </a>
        </li>
      <% end %>

    <% elsif @model %>
      <li>
        <a href="<%= model_path(@model) %>">
          <%= plural_model(@model) %>
        </a>
      </li>

      <% if @instance %>
        <li>
          <a href="<%= instance_path(@model, @instance.id) %>">
            <%= @instance.id %>
          </a>
        </li>
      <% end %>
    <% end %>
  </ol>
<% end %>
