<!doctype html>
<html>
  <head>
    <title>Admin Dashboard</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato:400,700,400italic">
    <link href="<%= root_path %>/stylesheets/bootstrap.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="<%= root_path %>/stylesheets/main.css" media="screen" rel="stylesheet" type="text/css" />
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  </head>

  <body class="admin">
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="<%= admin_path %>">Admin Dashboard</a>
          <button class="navbar-toggle" data-target="#navbar-main" data-toggle="collapse" type="button">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
      </div>
    </div>

    <% if @flash %>
      <div class="flash">
        <div class="alert alert-dismissable alert-<%= @flash[:type] %>">
          <a class="close" data-dismiss="alert" type="button">x</a>
          <%= @flash[:message] %>
        </div>
      </div>
    <% end %>

    <div class="sidebar">
      <%= erb :_sidebar %>
    </div>
    <div class="main">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
