<h3><%= @model.to_s %></h3>

<table>
  <thead>
    <th>
      View
    </th>
    <% @node.attributes.each do |attribute| %>
      <th><%= attribute.capitalize %></th>
    <% end %>
    <% @node.associations.each do |assoc_model, association| %>
      <th><%= association.method.to_s.humanize %></th>
    <% end %>
  </thead>

  <% @instances.each do |instance| %>
    <tr>
      <td>
        <a href="<%= instance_path(@model, instance.id) %>"/>View</a>
      </td>
      <% @node.attributes.each do |attribute| %>
        <td>
          <%= instance.send(attribute) %>
        </td>
      <% end %>
      <% @node.associations.each do |assoc_model, association| %>
        <td>
          <a href="<%= association_path(@model, instance.id, assoc_model) %>">
            View
          </a>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
