<h3><%= @model.to_s %></h3>

<table>
  <thead>
    <th>
      View
    </th>
    <% @node.attributes.each do |attribute| %>
      <th><%= attribute.capitalize %></th>
    <% end %>
    <% @node.associations.each do |assoc_model, association| %>
      <th><%= association.method.capitalize %></th>
    <% end %>
  </thead>

  <tr>
    <td>
      <a href="<%= admin_path(@model, @instance.id) %>"/>View</a>
    </td>
    <% @node.attributes.each do |attribute| %>
      <td>
        <%= @instance.send(attribute) %>
      </td>
    <% end %>
    <% @node.associations.each do |assoc_model, association| %>
      <td>
        <%= association %>
        <a href="<%= association_path(@model, @instance.id, assoc_model) %>">
        View <%= association.method.to_s.humanize %>
        </a>
      </td>
    <% end %>
  </tr>
</table>
