.container
  - if notice
    .alert.alert-dismissable.alert-info
      %button.close{"data-dismiss" => "alert", type: "button"}
        %span{"aria-hidden" => "true"} &times;
      = notice
  - if alert
    .alert.alert-dismissable.alert-danger
      %button.close{"data-dismiss" => "alert", type: "button"}
        %span{"aria-hidden" => "true"} &times;
      = alert
      - if @model.errors.any?
        %ul
          - @model.errors.each do |field, error|
            %li
              %b
                = field
              = error
  .row
    .col-md-8
      = up_paginate(@query.paginated_results)
      -# TODO(jon): Add pagination w/ search results
      = up_render(@query)
      %br
      = up_paginate(@query.paginated_results)
      %br
      %br
    .col-md-4
      -# TODO(jon): Implement up_search_box
      = up_render(@klass)
      .new-button-wrapper
        %a.btn.btn-block.btn-success{href: upmin_new_model_path(klass: @klass.model_class_name)}
          Create a new
          = @klass.humanized_name(:singular)
        %br
