.container
  .row
    .col-md-8

      %p
        = @q.class
      %p
        = @q
      %p
        = @results
      - @results.each do |r|
        %pre
          = r.as_json

    .col-md-4
      .well
        = upmin_render_search_box(@model, {})



