- editable = options[:editable] == false ? false : true
- nest_level = options[:nest_level] || 0

- provide(:subtitle, active_record.upmin_name) unless nest_level > 0

- if nest_level == 0
  .upmin-model{class: active_record.upmin_color}
    %h3
      = active_record.upmin_name(:singular)
      \#
      = active_record.id
    - active_record.upmin_attributes.each do |u_attr|
      %h5
        = u_attr.to_s.humanize

      - attr_editable = active_record.upmin_editable?(u_attr) && editable
      = upmin_render(active_record.upmin_get(u_attr), options.merge(editable: attr_editable))

    - if editable
      %br
      %button.btn.btn-primary{type: :button}
        Save

- elsif nest_level == 1
  .upmin-model{class: active_record.upmin_color}
    %h4
      %a{href: upmin_instance_path(model_name: active_record.class.to_s, id: active_record.id)}
        = active_record.upmin_name(:singular)
        \#
        = active_record.id
    - active_record.upmin_attributes.each do |u_attr|
      %h6
        = u_attr.to_s.humanize
      = upmin_render(active_record.upmin_get(u_attr), options.merge(editable: false))

- else
  .well
    = upmin_render(active_record, options.merge(as: :active_record_tag))

-# TODO(jon): Update this to not be circular
-# TODO(jon): Update the styling a good bit
-# TODO(jon): Make attributes editable



